<form method="POST">
  Title
  <input type="text" name="title" value="{{thread.title}}" required />
  <br />
  Description
  <textarea name="description" rows="10" required>{{thread.description}}</textarea>
  <br />
  Category
  <select name="category" >
    {{#each categories}}
      {{!--<p>{{this._id}}</p>--}}
      <option value="{{this._id}}" {{selected this._id ../thread.category}}>{{this.name}}</option>
    {{/each}}
  </select>
  <br />
  <input type="submit" value="Edit" />
</form>
