<h1>Edit thread</h1>

<form action="/add" method="POST">
  Title
  <input type="text" name="title" value="{{thread.title}}" required />
  <br />
  Description
  <textarea name="description" rows="10" required>{{thread.description}}</textarea>
  <br />
  Category
  <select name="category">
    {{#each categories}}
      {{#ifCond ../thread.category this._id}}
        <option value="{{this._id}}" selected>{{this.name}}</option>
      {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/ifCond}}
    {{/each}}
  </select>
  <br />
  <input type="submit" value="Edit" />
</form>
