<h1>Categories</h1>
{{#each categories}}
  <ul>
    {{#if ../isAdmin}}
      <li><a href="/list/{{this.name}}">{{this.name}}</a></li><a href="/category/delete/{{this._id}}"> Delete</a>
    {{else}}
      <li><a href="/list/{{this.name}}">{{this.name}}</a></li>
    {{/if}}
  </ul>
{{/each}}