<h1>{{user.username}} statistics:</h1>
{{#if user.blocked}}
  <h1>Blocked</h1>
{{/if}}
<p>{{user.firstName}} {{user.lastName}}</p>
{{#if isAdmin}}
  {{#if user.blocked}}
    <form id="unblock" action="/users/unblock/{{user._id}}" method="post"></form>
    <a href="javascript:document.getElementById('unblock').submit()">Unblock</a>
  {{else}}
    <form id="block" action="/users/block/{{user._id}}" method="post"></form>
    <a href="javascript:document.getElementById('block').submit()">Block</a>
  {{/if}}
{{/if}}

<h2>Threads:</h2>
<ul>
  {{#each threads}}
    <li><a href="/post/{{this._id}}/{{this.title}}">{{this.title}}</a></li>
  {{else}}
    <li>No threads.</li>
  {{/each}}
</ul>

  <h2>Answers:</h2>
  {{#each answers}}
    <p>{{this.content}}</p>
    <p>{{this.date}}</p>
    <a href="/post/{{this.thread._id}}/{{this.thread.title}}">{{this.thread.title}}</a>
    <hr >    
  {{else}}
    <p>No answers</p>
  {{/each}}
